<h2>New Post</h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.post_path(@conn, :create) %>

<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
